* {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.app {
  background-color: #f1f1f1f;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.app h1 {
  color: #333333;
  font-size: 31px;
  font-weight: 800;
  line-height: 1.5;
  margin: 15px 0 0 0;
  padding: 15px 0;
}

.app p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  color: #777;
}

.app img {
  margin-top: 15px;
  padding: 15px;

  width: auto;
  height: 75px;
  object-fit: contain;
}

.app_container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  max-width: 100%;
}

.app_container p {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 300;
  color: #8c8c8c;
}

.app_container p > code {
  color: #61dafb;
  background-color: #555;

  padding: 2px 5px;
}

.list {
  width: 100%;
  padding: 15px 45px;
  margin: 5px 0;

  border-radius: 4px;
  border: 1px solid #ddd;
}

.list_item {
  /* padding: 5px 0; */

  font-size: 20px;
  font-weight: 500;
  line-height: 1.8;

  color: #101d1d;
}

.list_item:before {
  content: "👉";

  position: absolute;
  margin-left: -33px;
  margin-top: -7px;
  padding: 5px 0;
}

.copy {
  margin: 25px 0 15px;
  text-align: center;
  /* width: 100%; */
}

.icon {
  display: block;
  margin: 0 auto;
  padding: 8px;
  width: 25px;
  height: 25px;

  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f1f3f4;
}

.copy p {
  margin-top: 15px;

  font-size: 13px;
  font-weight: 200;

  color: #858ea1;
}

.copy p > a {
  color: inherit;
  text-decoration: none;
}

.copy p > a:hover {
  color: #3c4859;
}

.icon svg {
  color: #858ea1;
  transition: all 250ms ease-out;
}

.icon:hover svg {
  color: #3c4859;
}
